
trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  TF_WORKING_DIR: "terraform"
  AWS_DEFAULT_REGION: "us-east-1"

stages:
  - stage: Terraform_Apply
    displayName: "Terraform Apply"
    jobs:
      - job: Apply
        displayName: "Terraform Apply Job"
        steps:
          - checkout: self

          - task: TerraformInstaller@1
            displayName: "Install Terraform"
            inputs:
              terraformVersion: "1.6.6"

          - script: |
              terraform -version
              aws --version
            displayName: "Check Tools"

          - script: |
              cd $(TF_WORKING_DIR)
              terraform init
            displayName: "Terraform Init"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

          - script: |
              cd $(TF_WORKING_DIR)
              terraform validate
            displayName: "Terraform Validate"

          - script: |
              cd $(TF_WORKING_DIR)
              terraform plan -var-file=nonprod.tfvars
            displayName: "Terraform Plan"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

          - script: |
              cd $(TF_WORKING_DIR)
              terraform apply -var-file=nonprod.tfvars -auto-approve
            displayName: "Terraform Apply"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

  - stage: Terraform_Destroy
    displayName: "Terraform Destroy"
    dependsOn: Terraform_Apply
    condition: succeeded()
    jobs:
      - job: Destroy
        displayName: "Terraform Destroy Job"
        steps:
          - checkout: self

          - task: TerraformInstaller@1
            displayName: "Install Terraform"
            inputs:
              terraformVersion: "1.6.6"

          - script: |
              cd $(TF_WORKING_DIR)
              terraform init
            displayName: "Terraform Init"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)

          - script: |
              cd $(TF_WORKING_DIR)
              terraform destroy -var-file=nonprod.tfvars -auto-approve
            displayName: "Terraform Destroy"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
